/*@import url(https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,500);*/

nav {
  background: #333;
  overflow: auto;
  padding: 60px;
  position: relative;
  z-index: 2;
}

nav h1 {
  color: #eee;
  font-family: 'Pacifico', cursive;
  font-size: 42px;
  float: left;
}

nav h1>a {
  color: #3ab4a6;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: all 200ms linear;
}

nav h1>a:hover {
  background: none;
  color: #C18055;
}

ul {
  text-align: center;
  float: right;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  margin: 0 10px;
  color: #eee;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
  transition: all 200ms linear;
}

nav a:hover,
nav#small a:hover {
  color: #C18055;
  background: #fff;
}

nav#small {
  background: #fff;
  padding: 20px 40px;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 2px #fff;
}

nav#small h1,
nav#small a {
  color: #333;
}

nav#small h1 {
  font-size: 38px;
}

nav#small h1>a {
  color: #C18055;
}

nav#small h1>a:hover {
  color: #3ab4a6;
}

div#content {
  height:auto;
  min-height: 3000px;
  padding-bottom: 150px;
  background: url('https://s-media-cache-ak0.pinimg.com/originals/03/95/6f/03956fed74537b3d7b0858e9a814748d.jpg')repeat 0 0;
  opacity: 0.9;
}

div#content h2 {
  color: #fff;
  font-weight: bold;
  transform: rotate(-10deg);
  line-height: 60px;
  font-size: 48px;
  text-transform: uppercase;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 10%;
  bottom: 10%;
  text-shadow: 2px 2px 2px #333;
  font-family: 'Pacifico', cursive;
}

div#content h2:before {
  display: inline-block;
  background: url('../img/arrow.png')no-repeat 0 0;
  background-size: cover;
  width: 239px;
  height: 200px;
  content: "";
  transform: rotate(-80deg);
  margin-bottom: 40px;
}

@media (max-width: 700px) {
  nav {
    padding: 20px;
  }
  nav h1 {
    display: block;
    float: none;
    text-align: center;
    padding: 20px;
  }
  nav ul {
    float: none;
    padding: 20px;
  }
  div#content h2 {
    width: 30%;
  }
  nav#small {
    padding: 20px;
  }
  nav#small ul {
    padding: 5px;
  }
  nav#small h1 {
    padding: 10px;
    font-size: 28px;
    margin-bottom: 5px;
  }
  nav#small a {
    font-weight: normal;
  }
}


.info-card {
  width: 80%;;
  height: 240px;
  border: 1px solid $theme-light-color;
  margin-left: 10%;
  font-weight: bold;
  background-color: rgba(43,54,78, 0.8);
  
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0,0,0, .3);
  
  tranisition:display 300ms ease-in;
  
  .personal-detail-section {
    width: 100%;
    height: 130px;
    padding: 10px;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    
    color: $theme-light-color;
    
    img {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      border: 1px solid $theme-light-color;
      margin-right: 20px;
    }
    
    .text-detail {
      /*margin: 20%;*/

      display: flex;
      flex-direction: column;
      
      h2 {
        font-size: 20px;
        width: 180px;
        margin-bottom: 25px;
      }
      h3 {
        font-size: 16px;
        line-height: 22px;
        width: 180px;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
        margin-bottom: 25px;
        font-weight: normal;
        font-style: italic;
      }
      p {
        font-size: 12px;
        font-weight: normal;
        width: 160px;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
      }
    }
  }
  

  .contact-detail-section {
    color: $theme-light-color;
    font-size: 16px;
    font-weight: normal;
    border-top: solid 1px white;
    ul {
      list-style-type: none;
      display: inline-block;
      margin: 0;
      padding: 0;
      
      li {
        list-style-type: none;
        display: inline-block;
        float: left;
        width: 115px;
        height: 68px;
        border-right: solid 1px white;
        text-align: center;
        padding: 2px;
        
        &:last-child{
          border-right: none;
        }
        
        i.fa{
          display: block;
          margin-top: 10px;
          font-size: 20px;
        }
        p {
          font-size: 12px;
          word-wrap: break-word;
          margin-top: 5px;
        }
      }
    }
  }
}

.text-detail{
      margin-left: 5%;
      margin-top: 5%;
      padding-top: 5px;
}


    
    i.fa {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #aaa;
    }

  .data ul  li, .fields ul li{
    display: block; 
  }

  .data{
    float: left;
  }
  .data ul{
    text-align:left; 
    color: white;
  }

  .fields{
        float: left;

    color: white;
    margin-right: 10%;
  }


  .row#content-wrapper{
    padding-top: 10px;
  }


/*btn*/


@-webkit-keyframes myanimation2 {
  0% {-webkit-transform: rotate(0deg)}
  
  100% {-webkit-transform: rotate(360deg)}
}


.box{
  float: right;
  margin-right: 10%;
  margin-top: 30px;
  content: url(../img/plus.png);
  align-items: center
  margin: 2em; 
  background: rgba(34, 173, 131, 0.59);
  width: 5em;
  height: 5em;
  text-align: center; 
  padding: 2em;
  cursor: pointer;
  color: #white;
  text-transform: uppercase; 
  font: normal 0.8em/1.5em arial;
  border-radius: 100em;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  
}
 
.box:hover{
  background: rgba(174, 175, 147, 0.59)!important;
  -webkit-animation: myanimation2 ease-in-out 0.9s 1;
  -moz-animation: myanimation2 ease-in-out 0.9s 1;  
  -o-animation: myanimation2 ease-in-out 0.9s 1;  
  animation: myanimation2 ease-in-out 0.9s 1;  
}

.box:focus{
  background: rgba(34, 143, 131, 0.59);
}
.edit.box{
  content: url("../img/pencil.png");
  background: rgba(50, 83, 97, 0.59);
  width: 1em;
  height: 1em;

}
.delete.box{
  content: url("../img/delete.png");
  background: rgba(211, 74, 100, 0.59);
  width: 1em;
  height: 1em;
}

.btnblock ul li{
  display: block;
}
.btnblock {
  float: right;
  padding-right: 10%;
}

/*btn*/

#nousers{
  display: none;
}
.info-h3{
  color: #fff;
    font-weight: bold;
    transform: rotate(-10deg);
    line-height: 60px;
    font-size: 30px;
    text-transform: uppercase;
    position: fixed;
     /*left: 0; */
    right: 6%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 10%;
    /* bottom: 10%; */
    text-shadow: 2px 2px 2px #333;
    font-family: 'Pacifico', cursive;
}

 @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic,cyrillic-ext);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  font-family: Roboto, sans-serif; 
  font-size: 12pt; 
  background: #eee url('http://img1.gtsstatic.com/wallpapers/3e9cafa717025ccf25667b8f44ff1460_large.jpeg') no-repeat center center;
}
.modal {
  visibility: hidden;
  z-index: 2;
  background-color: #455261;
  width: 400px;
  height: auto; 
  display: block; 
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 15px;
  @include border-radius(3px);
  -webkit-box-shadow: 0px 9px 29px 3px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 9px 29px 3px rgba(0,0,0,0.31);
  box-shadow: 0px 9px 29px 3px rgba(0,0,0,0.31);
  
  &-body, 
  &-bottom {
    width: 100%; 
    float: left; 
  }
  
  &-body{
    &, p, h1, h2, h3, h4, h5, h6 {color: #fff;}
    
    h1 {
      font-weight: 700; 
      font-size: 20pt;
      margin-bottom: 5px;
      line-height: 1.5;
    }
    p, span, div {
      font-size: 12pt; 
      font-weight: 400;
      line-height: 1.55;
      color: #7F7F7F;
    }
     
    p {
      margin-bottom: 15px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  
  &-bottom {
    margin-top: 20px; 
    
    
    ul {
      list-style: none; 
      width: 100%;
      
      li.left { float: left; margin-right: 20px; }
      
      li.right { float: right; margin-left: 20px; }
      
      li {
        display: inline-block; 
        
        a {
          text-decoration: none; 
          font-weight: 500;
          color: #4889F4;
          
          &:hover, 
          &:active,
          &:focus {
            color: #244F96;
          }
        }
      }
      
    }
  }
}

#modal-header{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
    font-size: 25px;
  text-align: center;
  color: white;
}

/*input*/
/* Estrutura */
.input-container {
  position: relative;
}

label {
  top: 0;
  left: 0; right: 0;
  color: #616161;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

input,
label {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
}

/* Interation */
input:valid{
  border: none;
  border-bottom: 2px solid #26a69a;  
}

input:valid + label,
 + label {
  color: #26a69a;
  border: none;
  font-size: .8rem;
  top: -30px;
  pointer-events: none;
}

/* Just for leave it a little more beautiful */

h1 {
  color: #616161;
  text-align: center;
  margin-bottom: 30px;
}

section {
  margin: 15px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 0 0 2px 2px;
  background-color: #FFF;
}
input, lable{
  background: #455261 !important;

color: #fff;
   box-sizing: border-box;
    border: none;
    -webkit-appearance:none;

}

}
input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #455261;
    box-shadow: 0 0 3px #455261, 0 10px 15px #455261 inset;
    text-indent: 32px;
    font-size: 14px;
    color: #212121 !important;
}
input:focus{
  outline: none;
  border-bottom: 1px solid rgba(211, 74, 100, 0.59);;
}
/*input*/